 <h2> Add New Post</h2>
<p>
<form action="/new" method="POST" role="form">
	<div class="form-floating">
	<textarea name="content" class="form-control" placeholder="Type post text here" rows="6
	" id="floatingTextarea"></textarea>
	<label for="floatingTextarea">Comments</label>
	</div>

	<br />
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
</p>	
